<form (submit)="onAddRound(scorecardForm)" #scorecardForm="ngForm">

	<mat-form-field>
		<input (dateChange)="onChangeCourseOrDate()" matInput [matDatepicker]="datePicker" placeholder="Dato" ngModel name="date" #date="ngModel" required>
		<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
		<mat-datepicker #datePicker></mat-datepicker>
		<mat-error *ngIf="date.invalid">Du må legge til en dato.</mat-error>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Bane</mat-label>
		<mat-select (selectionChange)="onChangeCourseOrDate()" required ngModel name="course" #course="ngModel">
			<mat-option *ngFor="let course of courses" [value]="course">
			{{course.name}}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="course.invalid">Du må velge en bane.</mat-error>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Spiller (navn)</mat-label>
		<mat-select required ngModel name="player" #player="ngModel">
			<mat-option *ngFor="let player of players" [value]="player">
			{{player.first_name}} {{player.last_name}}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="player.invalid">Du må velge en spiller.</mat-error>
	</mat-form-field>

	<div id="slider-wrapper">
		<div id="score-text">
			Resultat
		</div>
		<mat-slider
		value=0
		ng-init="score=0"
		thumbLabel
		[displayWith]="formatLabel"
		tickInterval=1
		min=-10
		max=25
		type="number"
		ngModel name="score"
		#score="ngModel"
		></mat-slider>

		<div *ngIf="score.value && score.value <= 0" id="score-value">
			{{score.value}}
		</div>
		<div *ngIf="score.value > 0" id="score-value">
			+{{score.value}}
		</div>
		<div *ngIf="score.value == 0" id="score-value">
			0
		</div>
	</div>

	<button mat-raised-button color="accent" type="submit">Legg til spiller</button>
</form>

