#rounds-listed-wrapper {
	margin-top: 1em;
}

.round-card {
	margin: 5px 0 0 0;
	background-color: #333333;
	color: white;
	border-radius: 5px;
	padding: 16px;
}

.card-content-wrapper {
	display: flex;
}

.fa-trash {
	color: #FF4081;
	font-size: 1.2em;
	cursor: pointer;
}

.spacer {
	flex-grow: 1;
}

@media(max-width: 768px) {
	.first-name {
		display: none;
	}
}
