<div id="login-wrapper">
	<h1 class="mat-h1">Login</h1>
	<form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
		<mat-form-field appearance="outline">
			<mat-label>Epost</mat-label>
			<input matInput type="text" ngModel name="email" #email="ngModel" placeholder="ola@normann.no" required/>
			<mat-error *ngIf="email.invalid">Skriv in epostadresse.</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label for="password">Passord</mat-label>
			<input matInput type="password" ngModel name="password" #password="ngModel" placeholder="passord123456" required/>
			<mat-error *ngIf="password.invalid">Skriv in passord.</mat-error>
		</mat-form-field>

		<div id="login-button-wrapper">
			<button id="login-button" [disabled]="loading" mat-raised-button color="accent" type="submit">Login</button>
			<mat-spinner *ngIf="loading" color="accent" [diameter]="40"></mat-spinner>
		</div>
		<h3 class="mat-h3">Ikke laget/fått bruker?</h3>
		<button disabled mat-raised-button color="accent" id="router-link-button" [routerLink]="['/register']">Registrer</button>
	</form>
</div>
