#login-wrapper {
	width: 400px;
	margin: auto;
}

mat-form-field {
	width: 100%;
}

h1 {
	font-size: 2em;
	font-weight: 300;
}

h3 {
	margin-bottom: 0.1em;
	font-weight: 300;
	font-size: 1em;
}

#login-button-wrapper {
	display: flex;
	margin-bottom: 1em;
}

#login-button {
	margin-right: 2em;
}

@media(max-width: 768px) {
	#login-wrapper {
		width: 100%;
	}
}
