<mat-card>
	<form (submit)="onAddPost(postForm)" #postForm="ngForm">
		<mat-form-field>
			<input matInput type="text" name="title" #title="ngModel" placeholder="Post title" ngModel required minlength="5">
			<mat-error *ngIf="title.invalid">Input is required (min length 5)</mat-error>
		</mat-form-field>

		<mat-form-field>
			<textarea matInput rows="3" name="content" placeholder="Post content"  ngModel #content="ngModel" required minlength="5"></textarea>
			<mat-error *ngIf="content.invalid">Textarea is required (min length 5)</mat-error>
		</mat-form-field>

		<button mat-raised-button color="accent" type="submit">SAVE POST</button>
	</form>
</mat-card>
