<div class="heading-wrapper mat-h1">
	Siste runder

	<a id="add-scorecard-link" [routerLink]="['/create-scorecard']" routerLinkActive="router-link-active" >
		<i class="fa fa-plus" id="add-scorecard-icon"></i>
	</a>
</div>

<div class="scorecard-wrapper"  *ngFor="let scorecard of scorecards" >
	<app-table [rounds]="scorecard.Rounds"></app-table>
	<div class="name-wrapper" *ngIf="scorecards.length > 0"> Opprettet av {{scorecard.Player.first_name}} {{scorecard.Player.last_name}} </div> <div class="date-wrapper">Fra {{scorecard.date_time | date : "dd'.' MMMM yyyy"}} </div>
</div>
