.scorecard-wrapper {
	margin-top: 3rem;
}

.heading-wrapper {
	height: auto;
	font-size: 2em;
	margin-bottom: 1rem;
	font-weight: 300;
	text-align: center;
}

#add-scorecard-icon {
	float: right;
	font-size: 1em;
	margin-left: -50px;
	margin-right: 10px;
}

#activate-delete-button {
	float: right;
	margin-right: 50px;
	cursor: pointer;
}

a, a:visited {
	color: #292929;
}

.name-wrapper, .date-wrapper {
	font-weight: 300;
	margin: 0.5em 1em;
}

.name-wrapper {
	float: left;
}

.date-wrapper {
	float: right;
}

@media(max-width: 768px) {
	.scorecard-wrapper {
		margin-top: 1.5rem;
	}

	.name-wrapper {
		display: none;
	}

	.date-wrapper {
		float: none;
		text-align: right;
	}
}
